[viewBag]
title = "Kontakt oss"
url = "/kontaktoss"
layout = "static"
is_hidden = 0
navigation_hidden = 1
meta_title = "Kontakt oss"
meta_description = "Vi svarer deg om våre menyer og bordbestillinger, aktiviteter på huset, catering, takeaway og annet du lurer på. Ta kontakt!"
==
<p><strong data-verified="redactor">Bestill bord på telefon 32 13 24 04, på e-post <a href="mailto:mailto:booking@egerco.no">booking@egerco.no</a> eller <a href="/bestillbord">på nett her</a>.</strong>
</p><p><br>
</p><p>Ta kontakt med oss på <a href="mailto:mailto:post@egerco.no">e-post</a> eller <a href="http://www.facebook.com/egerco">Facebook</a> dersom du har generelle henvendelser som ikke gjelder bordbestilling. Vi svarer deg fortløpende.</p><p><strong data-verified="redactor"><br></strong></p><table><tbody><tr><td>​<strong>Vår besøksadresse er &nbsp; &nbsp; &nbsp;</strong></td><td>​<strong>Vår postadresse er</strong></td></tr><tr><td>​Eger &amp; Co.<br>Storgata 4<br>3510 Hønefoss</td><td>​Eger &amp; Co. AS<br>Postboks 66<br>3502 Hønefoss</td></tr></tbody></table><p><br>Vi mottar fakturaer helst&nbsp;på EHF, og vårt organisasjonsnummer er 999 196 764.<br></p><p>Alternativt kan fakturaer sendes oss på e-post til <a href="mailto:mailto:faktura@egerco.no">faktura@egerco.no</a>.</p>