<div class="report-widget">
    <div class="col-md-4">
      <h3>ORDREBEHANDLING</h3>
      <?php
      if($status == 0) {
      ?>
      <div class="callout  callout-success">
        <div class="content">
          <strong><i class="oc-icon-play"></i>Systemet er åpent for nye ordre</strong>
        </div>
      </div>
      <?php
      } elseif($status == 1) {
        ?>
      <div class="callout  callout-danger">
        <div class="content">
          <strong><i class="oc-icon-power-off"></i>Systemet er stengt for ordremottak</strong>
        </div>
      </div>
      <?php
      }
      ?>      
    </div>
    <div class="col-md-8">
    <h3 class="pull-right">ALTERNATIVER</h3>
      <div class="control-toolbar">
        <div class="toolbar-item toolbar-primary pull-right">
          <div data-control="toolbar">
            <button type="button" class="btn btn-success oc-icon-play" data-request-confirm="Systemet åpnes for nye ordre, er du sikker?" data-request="<?= $this->getEventHandler('onSystemOpen'); ?>">Ledig</button>
            <button type="button" class="btn btn-danger oc-icon-power-off" data-request-confirm="Du lukker systemet for nye ordre fordi kjøkkenet ikke har kapasitet til å ta imot nye ordre. Er du sikker?" data-request="<?= $this->getEventHandler('onSystemClose'); ?>">Fullt</button>
          </div>
        </div>
      </div>
    </div>

    <table class="table">
        <colgroup>
      		<col class="col-xs-2">
      		<col class="col-xs-2">
      		<col class="col-xs-1">
      		<col class="col-xs-3">
      		<col class="col-xs-4">
      	</colgroup>
        <thead>
          <tr>
            <th>Kunde</th>
            <th class="text-center">Hentenummer</th>
            <th>Hentetid</th>
            <th>Ordrelinjer</th>
            <th class="text-right">Alternativer</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach( $orders as $order ): ?>
            <tr>
              <td>
                <strong><?= $order->customer->firstname ?> <?= $order->customer->lastname ?>
                  <br >
                  <?= $order->customer->phone ?>
                </strong>
                <br>
                <small>Mottatt <?= $order->created_at ?></small>
              </td>
              <td class="text-center">
                <p class="lead" style="font-weight: bold;"><?= $order->id ?></p>
              </td>
              <td>
                kl. <strong><?= date('H:i',strtotime($order->pick_up_time)); ?></strong>
              </td>
              <td>
                <strong>
                <?php foreach ($order->orderlines as $orderline): ?>
                  <?= $orderline->quantity.' stk. '.$orderline->product->name ?>
                  <br>
                <?php endforeach ?>
                </strong>
                <br>
                <?php if($order->comment) { ?>
                <small><strong>KOMMENTAR TIL ORDREN</strong></small><br>
                <?= $order->comment ?>
                <?php } ?>
              </td>
              <td class="text-right">
                <div data-request-data="orderId:<?= $order->id ?>">
                  <button class="btn btn-success" data-request="<?= $this->getEventHandler('onPrintOrderCopy'); ?>"><i class="icon-print"></i> <strong>Kopi</strong></button>

                  <?php if($order->confirmed <> 1): ?>

                    <button class="btn btn-success" data-request-confirm="Er du sikker på at du vil bekrefte ordre?" data-request="<?= $this->getEventHandler('onConfirmOrder'); ?>"><strong>Bekreft mottak</strong></button>
                    <button class="btn btn-danger" data-request-confirm="Er du sikker på at du vil avvise ordre?" data-request="<?= $this->getEventHandler('onRejectOrder'); ?>"><strong>Avvis</strong></button>
                  <?php endif ?>
                  <?php if($order->confirmed == 1): ?>
                    <button class="btn btn-warning" data-request-confirm="Er varene hentet?" data-request="<?= $this->getEventHandler('onPickUp'); ?>"><strong>Bekreft henting</strong> </button>
                    <button class="btn btn-danger" data-request-confirm="Er du sikker på at du vil avvise ordre?"  data-request="<?= $this->getEventHandler('onRejectOrder'); ?>"><strong>Avvis</strong></button>
                  <?php endif ?>
                </div>

               
                <div class="btn-group" role="group" style="margin-top: 10px; ">
                  <button type="button" class="btn btn-default btn-sm" role="group"><strong>Utsett min.</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, extendTime: 5" data-request-confirm="Vil du utsette hentetidspunkt med 5 minutter?" data-request="<?= $this->getEventHandler('onExtendOrder'); ?>"><strong>5</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, extendTime: 10" data-request-confirm="Vil du utsette hentetidspunkt med 10 minutter?" data-request="<?= $this->getEventHandler('onExtendOrder'); ?>"><strong>10</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, extendTime: 15" data-request-confirm="Vil du utsette hentetidspunkt med 15 minutter?" data-request="<?= $this->getEventHandler('onExtendOrder'); ?>"><strong>15</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, extendTime: 30" data-request-confirm="Vil du utsette hentetidspunkt med 30 minutter?" data-request="<?= $this->getEventHandler('onExtendOrder'); ?>"><strong>30</strong></button>
                </div>

                <div class="btn-group" role="group" style="margin-top: 10px;">
                  <button type="button" class="btn btn-default btn-sm" role="group"><strong>Fremskynd min.</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, shortenTime: 5" data-request-confirm="Vil du fremskynde hentetidspunkt med 5 minutter?" data-request="<?= $this->getEventHandler('onShortenOrder'); ?>"><strong>5</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, shortenTime: 10" data-request-confirm="Vil du fremskynde hentetidspunkt med 10 minutter?" data-request="<?= $this->getEventHandler('onShortenOrder'); ?>"><strong>10</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, shortenTime: 15" data-request-confirm="Vil du fremskynde hentetidspunkt med 15 minutter?" data-request="<?= $this->getEventHandler('onShortenOrder'); ?>"><strong>15</strong></button>
                  <button type="button" class="btn btn-primary btn-sm" role="group"  data-request-data="orderId:<?= $order->id ?>, shortenTime: 30" data-request-confirm="Vil du fremskynde hentetidspunkt med 30 minutter?" data-request="<?= $this->getEventHandler('onShortenOrder'); ?>"><strong>30</strong></button>
                </div>
              
                <p><small>Dersom ordren er bekreftet får kunden en SMS med nytt tidspunkt.</small></p>
              </td>
            </tr>



          <?php endforeach ?>
        </tbody>
      </table>

      <script type="text/javascript">
        $(document).ready(function() {
         setInterval("location.reload();", 30000);
        });
    </script>

</div>
