<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('egerstudio/trymmerchant/productcategories') ?>"><?= e(trans('egerstudio.trymmerchant::lang.breadcrumbs.productcategory.breadcrumb')); ?></a></li>
        <li><?= e(trans('egerstudio.trymmerchant::lang.breadcrumbs.productcategory.new')); ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('egerstudio.trymmerchant::lang.status.saving')); ?>"
                    class="btn btn-primary">
                    <?= e(trans('egerstudio.trymmerchant::lang.buttons.save')); ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('egerstudio.trymmerchant::lang.status.saving')); ?>"
                    class="btn btn-default">
                    <?= e(trans('egerstudio.trymmerchant::lang.buttons.saveAndClose')); ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('egerstudio.trymmerchant::lang.buttons.or')); ?> <a href="<?= Backend::url('egerstudio/trymmerchant/productcategories') ?>"><?= e(trans('egerstudio.trymmerchant::lang.buttons.cancel')); ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('egerstudio/trymmerchant/productcategories') ?>" class="btn btn-default">Return to product categories list</a></p>

<?php endif ?>
