<div style="padding: 0 15px 15px 15px">
{% if confirmationShow %}
<button
class="btn btn-warning btn-sm col-sm-5"
data-request-confirm="Er du sikker på at du vil tømme handlekurven?"
data-request="onEmptyBasket"
data-request-update="'{{__SELF__}}::basket_orderlines':'#mybasket'">
Tøm kurv</button>
{%endif%}
<a class="btn btn-success btn-sm pull-right col-sm-5" href="{{confirmPage}}">Til kassen</a>
<div style="clear: both;"></div>
</div>
