<ul class="list-group removePadding" id="mybasket">
{%if orderlines is empty %}
<li class="list-group-item orderline">Ingen varer i kurven</li>
{% endif %}

{% for orderline in orderlines %}
	<li class="list-group-item orderline">{{ orderline.product.name|length > 16 ? orderline.product.name|slice(0, 16) ~ '...' : orderline.product.name  }}
	<button class="close pull-right" data-request="onRemoveItem" data-request-data="orderlineId:'{{orderline.id}}'" data-request-update="'{{__SELF__}}::basket_orderlines':'#mybasket'">&times;</button>
	<span class="pull-right " style="margin-right: 20px;">x {{ orderline.quantity }}</span>
	</li>
{% endfor %}
{%if not disablePrice == 1%}
<li class="list-group-item orderline" style="border-top: 1px solid #ccc"><strong>Totalt kr. <span class="pull-right">
{{ ordertotal|number_format(2,'.',' ') }}</strong></span></li>
{% endif %}
</ul>
