{% set menus = sideMenus.first %}

<div class="container menu">
    <div class="row">
    <div class="col-md-2 side">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Våre menyer</h3>
        </div>
        <div class="list-group sideMenu">
          {% if noListMenu == false %}
            {% for schedule in menus.schedules %}
              {% for menu in schedule.menus %}
                  <a href="{{categoryPage}}/{{menu.slug}}" class="list-group-item {% if (slug == menu.slug) %}active{% endif %}">
                    {{day.first.dayNo}}{{ menu.title }}
                  </a>
              {% endfor %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="panel-body">
          <p><strong>INFO</strong><br>
          <small>
          Nettbestillingen følger menyene vi har tilgjengelig på kjøkkenet. Så når eksempelvis lunsjen er over blir disse rettene erstattet av middagsretter. <br><br>Burgerne vil du alltid finne tilgjengelig så lenge kjøkkenet er åpent.
          </small>
          </p>
        </div>
    </div>

    <div class="col-md-7 padmebottom">
      {% if openForBusiness != 1 %}
      
        {%if specialDay.closed == false %}
        <p class="lead text-center">Nettbestillingen er åpen mellom kl. {{ opening|date("H:i") }} og {{closing|date("H:i")}}</p>
        {% endif %}
      {% endif %}

      {% if temporaryClose == 1 and openForBusiness == 1 %}
        <div class="alert alert-warning"><p class="lead text-center">{{overworkedText|raw}}</p></div>
      {% endif %}

      {% if isSpecialDay == 1 and specialDay.publictext %}
        <div class="alert alert-info"><p class="lead text-center">{{specialDay.publictext|raw}}</p></div>
      {% endif %}

      {% if slug %}
        {% if noListMenu == false %}
          {% partial  __SELF__ ~ '::menu_list' %}
        {% endif %}
      {% else %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Velkommen</h3>
          </div>
          <div class="panel-body">
          {{ welcomeText|raw }}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-3 side">
      <div class="panel panel-default">
      	<div class="panel-heading">
      		<h3 class="panel-title">Handlekurv</h3>
      	</div>
      	<div class="panel-body basketPadding">
              {% partial __SELF__ ~ '::basket_orderlines'  %}
              {% partial __SELF__ ~ '::basket_options'  %}
        </div>
      </div>
    </div>
  </div>
</div>