{% set day = days.first %}
<form>
  {% for schedule in day.schedules %}
    {% for menu in schedule.menus %}

    

    <div class="panel panel-default menu">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">{{ menu.title }}</h3>
        </div>

        {% if menu.details_top %}
          <div class="panel-body">
          {{ menu.details_top|raw }}
          </div>
        {% endif %}

        <!-- Table -->
        <table class="table">
          <colgroup>
            <col class="col-sm-9">
            <col class="col-sm-2">
            <col class="col-sm-1">
          </colgroup>
          {% for item in menu.products %}
          <tr>
              <td class="menuitem">{{ item.name }}<br>
              {% if item.description %}
              <small>{{item.description}}</small>
              <br>
              {% endif %}
              {% if not item.allergens_hide %}
              <small class="allergens">Inneholder: {{ item.allergens }}</small>
              {% endif %}
              </td>


              {% if disablePrice == 1 %}
                <td class="price text-right"></td>
              {% else %}
                <td class="price text-right">{{ item.price }}</td>
              {% endif %}

              <td class="order text-right">
              {% if item.weborder == 1 and openForBusiness == 1 and temporaryClose != 1%}
                <button type="button" class="btn btn-primary" data-request="{{__SELF__}}::onAddItem" data-request-data="productId:'{{item.id}}',scheduleId:'{{schedule.id}}'" data-request-update="'{{__SELF__}}::basket_orderlines':'#mybasket'"><i class="icon-shopping-cart"></i>&nbsp;</button>
              {% else %}
                <button type="button" class="btn btn-primary" disabled="disabled"><i class="icon-shopping-cart"></i>&nbsp;</button>
              {% endif %}
              </td>
          </tr>

          {% endfor %}
          {% if menu.details %}
          <tr>
              <td colspan="3" class="menuDetails">
              {{ menu.details|raw }}
            </td>
          </tr>
          {% endif %}
      </table>
    </div>





    {%  endfor %}
  {%  endfor %}
</form>
