<div class="panel panel-default cart">
	<div class="panel-heading">
		<h2 class="panel-title primary">Handlekurv</h2>
	</div>
	<div class="panel-body">
        {% partial __SELF__ ~ '::basket_orderlines'  %}
        {% partial __SELF__ ~ '::basket_options'  %}
    </div>

</div>
