<h2>I korte trekk...</h2>
<ul>
	<li><a href="/takeaway">Bestill takeaway</a></li>
	<li><a href="/bestillbord">Bestill bord</a></li>
	<li><a href="">Se lunsjmenyen</a></li>
	<li><a href="">Se middagsmenyen</a></li>
	<li><a href="">Se selskapsmenyen</a></li>
	<li><a href="/kontaktoss">Kontakt oss</a></li>
</ul>
