<h2>Nyttige lenker</h2>
<ul>
	<li><a href="https://www.facebook.com/egerco" target="_blank">Facebook</a></li>
	<li><a href="https://www.instagram.com/egerco" target="_blank">Instagram</a></li>
	<li><a href="http://www.tripadvisor.com/Restaurant_Review-g910719-d4858598-Reviews-Eger_Co_spiseri_bar-Honefoss_Ringerike_Municipality_Buskerud_Eastern_Norway.html" target="_blank">Tripadvisor</a></li>
	<li><a href="http://www.yelp.no/biz/eger-og-co-hønefoss" target="_blank">Yelp</a></li>
</ul>
