<h2>Meny</h2>
<ul>
    <li><a href="#polser">Pølser</a></li>
    <li><a href="#hamburgere">Hamburgere</a></li>
    <li><a href="#pizza">Pizza</a></li>
    <li><a href="#fastfood">Fastfood</a></li>
</ul>