<h2>Om stasjonen</h2>
<ul>
	<li><a href="/sistenytt">Siste nytt</a></li>
	<li><a href="/omoss">Om oss</a></li>
	<li><a href="http://www.yxtyristrand.no/ansatte" target="_blank">Ansatte</a></li>
</ul>
<p><br>
</p>