<p><img src="/storage/app/media/pølse.jpg" style="width: 263px; height: 223.82978723404256px;">
</p>
<h4>Pølsetilbehør: </h4>
<p>Rekesalat, Potetsalat, Løksalat, Stekt løk, Rå løk og Agurkmix.
</p>
<p><br>
</p>
<p><img src="/storage/app/media/hamburger.png" style="width: 268px; height: 193.73493975903614px;">
</p>
<p>Standard burger består i tillegg til kjøtt og brød av: Dressing, salat, løk, mais, sylteagurk og tomat.
</p>
<p><img src="/storage/app/media/pepsimaxny0,5.png">
</p>
<h2>Drikke følger med!</h2>
<p>Alle menyer følges av 0.5 liter valgfri drikke fra vårt rikholdige utvalg
</p>
<p><img src="/storage/app/media/pizzameny.jpg" style="width: 319px; height: 179.72926829268292px;"><br>
</p>
<h4>Pizzafyll:</h4>
<p>Valgfrie grønnsaker: Løk, mais, paprika, ananas og champignon
</p>
<p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<p><br>
</p>
<p><img src="/storage/app/media/lovstek.jpg" style="width: 326px; height: 199.8832116788321px;">
</p>