<form role="form"
      data-request="onContactSent"
      data-request-update="'confirm': '.confirm-container'"
      data-request-success="$('#form-contact').slideUp(1000)" id="form-contact" class="form-horizontal">

        <div class="formgroup">
            <label for="nameForm" class="col-sm-2 control-label">Navn: </label>
            <div class="col-sm-10">
                <input type="text" name="name" id="nameForm" class="form-control">
            </div>
        </div>
        <div class="formgroup">
            <label for="emailForm" class="col-sm-2 control-label">E-post: </label>
            <div class="col-sm-10">
                <input type="text" name="email" id="emailForm" class="form-control">
            </div>
        </div>
        <div class="formgroup">
            <label for="phoneForm" class="col-sm-2 control-label">Telefon: </label>
            <div class="col-sm-10">
                <input type="text" name="phone" id="phoneForm" class="form-control">
            </div>
        </div>
        <div class="formgroup">
            <label for="subjectForm" class="col-sm-2 control-label">Emne:</label>
            <div class="col-sm-10">
                <input type="text" name="subject" id="subjectForm" class="form-control">
            </div>
        </div>
        <div class="formgroup">
            <label for="messageForm" class="col-sm-2 control-label">Melding:</label>
            <div class="col-sm-10">
                <textarea name="body" cols="30" rows="10" id="messageForm" class="form-control"></textarea>
            </div>
        </div>
        {% if renderReCaptcha %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="g-recaptcha push-in-left10" style="margin-top: 10px;" data-sitekey="{{ reCaptchaSiteKey }}" data-theme="{{ reCaptchaTheme }}"></div>
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default push-in-left10">Send melding</button>
            </div>
          </div>
        
        
        
    </div>
</form>
<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
{% if renderReCaptcha %}
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ reCaptchaLang }}" async defer></script>
{% endif %}