description = "page for static text"

[staticPage]

[googleTracker]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Eger &amp; Co. :: {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Eger Studio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% styles %}
        <link href="{{ [
            'assets/css/bootstrap.css','assets/css/theme.css','assets/vendor/font-awesome/css/font-awesome.css'
        ]|theme }}" rel="stylesheet">
        {% component 'googleTracker' %}
    </head>
    <body>

        {% partial 'navigation' %}

        <section id="layout-content">

          <div class="page-header-bg chef" style="background:url('{{ random (['assets/images/page-headers/chef1.jpg', 'assets/images/page-headers/chef2.jpg', 'assets/images/page-headers/chef3.jpg'])|theme}}') center center no-repeat;">
            <div class="container">
                <h1>{{ this.page.title }}</h1>
            </div>
          </div>
          <div class="container">
            {% page %}
          </div>

        </section>

        <!-- Footer -->

        {% partial "footer" %}
        
        <!-- Scripts -->
        <script src="{{ ['assets/javascript/jquery.js',]|theme }}"></script>
        <script src="{{ [
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js'
        ]|theme }}"></script>
        
        {% framework extras %}
        {% scripts %}
    </body>
</html>