<table class="table" id="total">
	<tr style="border-top: 2px solid" class="orderline">
		<td>
		{%if not disablePrice == 1%}
			Totalt kr. <span class="pull-right"><strong>{{ ordertotal|number_format(2,'.',' ') }}</strong></span>
		{% endif %}
		</td>
	</tr>
</table>
{% if pickUpTime %}
	<div class="col-sm-12 text-center alert alert-info" role="alert">
		<strong>Ønsket hentetid er kl. {{pickUpTime}}. </strong><br>
		<small>Vi bekrefter ditt hentetidspunkt så raskt vi kan i en SMS til deg etter at du har bekreftet din ordre.</small>
	</div>
{% endif %}