<button class="btn btn-info" data-request="onOrderSummary">Tilbake til kassen</button>

<button class="btn btn-warning"
data-request="onEmptyBasket"
data-request-update="'{{__SELF__}}::confirmation_total':'#total','{{__SELF__}}::confirmation_orderlines':'#orderlines'"
data-request-confirm="Er du sikker på at du vil avbryte ordren?">
Avbryt ordre</button>
