<form class="form-inline" id="orderlines">
<table class="table">
	<colgroup>
		<col class="col-xs-6">
		<col class="col-xs-2">
		<col class="col-xs-2">
		<col class="col-xs-2">
	</colgroup>

	{% if orderlines is empty %}
		<tr class="orderline">
			<td colspan="4">
				Ingen varer i handlekurven
			</td>
		</tr>
	{% endif %}

	{% if orderlines %}
		<thead>
		<tr class="orderline">
			<th>Vare</th>
			<th class="text-right">Pris</th>
			<th class="text-right">Antall</th>
			<th class="text-right">Totalt</th>
		</tr>
		</thead>
	{% endif %}

		<tbody>
		{% for orderline in orderlines %}
			<tr class="orderline">
				<td>{{ orderline.product.name }}</td>
				<td class="text-right">
				{%if not disablePrice == 1%}
					{{ orderline.product.price }}
				{% endif %}
				</td>
				<td class="text-right">{{ orderline.quantity }} stk</td>
				<td class="text-right">
				{%if not disablePrice == 1%}
					{{ (orderline.product.price * orderline.quantity)|number_format(2, '.', ',') }}
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
</table>
</form>
