<div class="container menu">
	<div class="row">
			<div class="col-lg-7">
				<div class="panel panel-default cart">
					<div class="panel-heading">
						<h3 class="panel-title">Ordreoppsummering</h3>
					</div>
					<div class="panel-body">
						{% partial __SELF__ ~ '::confirmation_orderlines' %}
						{% partial __SELF__ ~ '::confirmation_total'  %}
						{% if showComment %}
							<div class="alert alert-warning text-center">
								<strong>Din kommentar</strong><br>
								<p>{{ order.comment }}</p>
							</div>
						{% endif %}
					</div>
					<div class="panel-footer">
						{% partial __SELF__ ~ '::confirmation_options' %}
					</div>
				</div>
			</div>
			<div class="col-lg-5">


			{% if verificationShow == 1 %}
				{% if getCustomerDetails == 1 %}
					{% partial __SELF__ ~ '::verification_input_details' missing=true  %}
				{% else %}
					{% partial __SELF__ ~ '::verification_input' %}
				{% endif %}
			{% else %}
			<form id="verificationForm">
				<div class="panel panel-default cart">
					<div class="panel-heading">
						<h3 class="panel-title">Bekreft din ordre</h3>
					</div>
					<div class="panel-body">
						<p>Fyll inn mobilnummeret ditt for å bekrefte ordren. Vi sender deg en kode du fyller inn her for å bekrefte ordren.</p>
						<div class="form-group">
							<label for="mobile">Mobilnummer:</label>
							<input type="text" class="form-control" name="phone" autofocus value="">
						</div>


						<div class="checkbox">
						 <label>
							 <input type="checkbox" name="approve" value="1" id="approve"> <small>Bruk av tjenesten forutsetter godkjenning av <a data-toggle="modal" href="#conditions">brukerbetingelsene</a></small>
						 </label>
					  </div>
						<button type="submit" data-request="onPlaceOrder" data-request-loading="#loading"  class="btn btn-success pull-right">Send meg kode</button>

						<div id="verification">
						</div>


					</div>
				</div>
			</form>

			{% endif %}

			<div id="loading" style="display: none;"><img src="{{'assets/images/loading.gif'|theme}}" width="50" alt="Loading..."></div>

			<div id="errors">
			</div>

			</div>
	</div>

	</div>


	<div class="control-popup modal fade" id="conditions">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                {{conditions|raw}}
	            </div>
	        </div>
	    </div>
	</div>
</div>
