<form id="verificationForm">
  <div class="panel panel-default cart">
    <div class="panel-heading">
      <h3 class="panel-title">Bekreft din ordre</h3>
    </div>
    <div class="panel-body">

      {% if missing == TRUE %}
        <p class="lead">Hei, vi mangler noe! </p>
        <p><small>
          Det ser ut til at vi mangler litt informasjon om deg, vennligst fyll inn fornavn, etternavn og e-post adresse. Neste gang du bestiller trenger du bare å fylle inn mobilnummeret ditt.
        </small></p>
      {% else %}
        <p class="lead">Hei, deg har vi ikke sett før! </p>
        <p><small>
          Vennligst fyll inn fornavn, etternavn, e-post adresse og bekreftelseskoden vi har sendt deg til mobilnummer {{phone}}. Neste gang du bestiller trenger du bare å fylle inn mobilnummeret ditt.
        </small></p>
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname">Fornavn: </label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Tast inn fornavn" autofocus>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname">Etternavn: </label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Tast inn etternavn">
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="mobile">E-post adresse: </label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Tast inn e-post adresse">
      </div>

      <div class="form-group">
          <label for="mobile">Bekreftelseskode: </label>
          <input type="tel" class="form-control" id="verCode" name="verCode" placeholder="Tast inn koden du har fått på SMS">
      </div>


      <button data-request="onVerifyCode" data-request-update="'{{__SELF__}}::verification_errors':'#errors'" class="btn btn-success pull-right">Bekreft ordre</button>
    </div>
  </div>
</form>
