<form id="verificationForm">
  <div class="panel panel-default cart">
    <div class="panel-heading">
      <h3 class="panel-title">Bekreft din ordre {{seeRegCust}}</h3>
    </div>
    <div class="panel-body">



      <p class="lead">Velkommen tilbake {{customer.firstname}}</p>
      {% if companies and allowCompany == 1%}
        <div class="form-group">
          <label for="company">Handler du på vegne av noen?</label>
          <select name="company" class="form-control">
          {% for company in companies %}
            <option value="{{company.id}}">{{company.alias}}</option>
          {% endfor %}
            <option>Privat</option>
          </select>
        </div>
      {% endif %}


      <div class="form-group">
          <label for="mobile">Bekreftelseskode: </label>
          <input type="tel" class="form-control" id="verCode" name="verCode" placeholder="Tast inn koden du har fått på SMS" autofocus>
      </div>
      

      <button data-request="onVerifyCode" data-request-update="'{{__SELF__}}::verification_errors':'#errors'" class="btn btn-success pull-right">Bekreft ordre</button>
    </div>
  </div>
</form>
