[viewBag]
==
{% set menus = sideMenus.first %}

<div class="container menu">
    <div class="row">
    <div class="col-md-2 side">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Våre menyer</h3>
        </div>
        <div class="list-group sideMenu">
          {% if noListMenu == false %}
            {% for schedule in menus.schedules %}
              {% for menu in schedule.menus %}
                  <a href="{{categoryPage}}/{{menu.slug}}" class="list-group-item {% if (slug == menu.slug) %}active{% endif %}">
                    {{day.first.dayNo}}{{ menu.title }}
                  </a>
              {% endfor %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-7 padmebottom">
      {% if openForBusiness != 1 %}
        {%if specialDay.closed == false %}
        <div class="alert alert-warning"><p class="lead text-center">Nettbestillingen er åpen mellom kl. {{ opening|date("H:i") }} og {{closing|date("H:i")}}</p></div>
        {% endif %}
      {% endif %}
      {% if temporaryClose == 1 and openForBusiness == 1 %}
        <div class="alert alert-warning"><p class="lead text-center">{{overworkedText|raw}}</p></div>
      {% endif %}

      {% if isSpecialDay == 1 and specialDay.publictext %}
        <div class="alert alert-warning"><p class="lead text-center">{{specialDay.publictext|raw}}</p></div>
      {% endif %}

      {% if slug %}
        {% if noListMenu == false %}
          {% partial  __SELF__ ~ '::menu_list' %}
        {% endif %}
      {% else %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Velkommen</h3>
          </div>
          <div class="panel-body">
          <p>
            <strong>Velkommen til vår nettbestilling av overtidsmat!</strong>
          </p>
          <p class="lead">Nysgjerrig? Ennå ikke blitt bruker av tjenesten vår?<br>
          <small>Send oss en e-post til <a href="mailto:overtidsmat@egerco.no">overtidsmat@egerco.no</a> så hjelper vi deg i gang!</small></p>
          <p>
            <strong>Bestillinger kan kun gjøres av registrerte brukere. Ordre fra uregistrerte kunder blir stoppet.</strong>
          </p>
          <p>Menyen finner du i listen til venstre. Velg antall retter du ønsker fra menyen og legg inn eventuelle kommentarer i ordreoversikten før du bekrefter bestillingen din. Du velger selv tidspunkt for henting og vi sender deg en bekreftelse på at din bestilling er mottatt.</p>
          <p>Ta kontakt med oss på overtidsmat@egerco.no eller telefon 32 13 24 04 (2) dersom du har spørsmål.</p>
          <p><strong>NB! Ingen priser vises ved kjøp av overtidsmat, faktura ettersendes.</strong></p>
          <hr>
          <p>Denne tjenesten er i en testfase, og vi setter stor pris på tilbakemeldinger dersom du opplever feil ved bruk av tjenesten. Ta kontakt med oss på telefon 32 13 24 04 dersom du har problemer med å bestille, eller send en e-post til <a href="mailto:support@egerstudio.no">support@egerstudio.no</a> dersom du har kommentarer eller spørsmål til selve tjenesten og bruk av den.<br>
          </p>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-3 side">
      <div class="panel panel-default">
      	<div class="panel-heading">
      		<h3 class="panel-title">Handlekurv</h3>
      	</div>
      	<div class="panel-body basketPadding">
              {% partial __SELF__ ~ '::basket_orderlines'  %}
              {% partial __SELF__ ~ '::basket_options'  %}
        </div>
      </div>
    </div>
  </div>
</div>