<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Dette er en foreløpig ordrebekreftelse!</h3>
      <h2>
        Ditt hentenummer er <strong>#{{ this.page.reference }}</strong>
        <br>
        <small>Ubekreftet hentetid er kl. {{ this.page.time }}</small>
      </h2>

      <p class="lead">
        Vi går nå gjennom din ordre og du får en SMS som bekrefter hentetidspunkt i løpet av noen få minutter.
      </p>
    </div>
  </div>
</div>
