title = "Åpningstider"
url = "/apningstider"
layout = "default-2col-menu"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="container openinghours">

<!-- if 17.04 -->
{% if date(now) < date('2018-01-03') %}
    <div class="row">
    <div class="col-sm-12 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Åpningstider desember 2017</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Søndag 10. desember kl. 14.00 – 21.00<br>
            Søndag 17. desember kl. 14.00 – 21.00<br>
            Lørdag 23. desember kl. 09.00 – 16.00<br>
            Søndag 24. desember STENGT<br>
            Mandag 25. desember STENGT<br>
            Tirsdag 26. desember STENGT<br>
            Onsdag 27. desember kl. 11.00 - 17.00<br>
            Torsdag 28. desember kl. 11.00 - 17.00<br>
            <small>Åpner for påmeldte quizlag torsdag 28.12 kl. 19.30</small><br><br>
            Fredag 29. desember kl. 11.00 - 17.00<br>
            Lørdag 30. desember kl. 11.00 - 17.00<br>
            Søndag 31. desember STENGT<br>
            Mandag 01. januar STENGT<br>
            <br>
            Vi åpner som vanlig tirsdag 02. januar kl. 09.00
            
          </p>
          
          <p class="lead">
            
          </p>
          
        </div>
      </div>

    </div>
  </div>
{% endif %}


<!-- if easter -->
{% if date(now) < date('2017-04-18') %}
    <div class="row">
    <div class="col-sm-12 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Åpningstider i påsken</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Onsdag 12. april kl. 09.00 - 21.00 (kjøkken kl. 10.30 - 20.00)
            <br><br>
            Skjærtorsdag og langfredag stengt.
            <br><br>
            Lørdag 15. april kl. 09.00 - 16.00 (kjøkken kl. 10.30 - 15.30)
            <br><br>
            Søndag 16. april stengt
            <br><br>
            Mandag 17. april stengt
          </p>
        </div>
      </div>

    </div>
  </div>
{% endif %}
    
    
    
  <div class="row">
    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Mandag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Kl. 09.00 - 21.00
          </p>
          <p>Kjøkken kl. 10.30 - 20.30</p>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Tirsdag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Kl. 09.00 - 21.00
          </p>
          <p>Kjøkken kl. 10.30 - 20.30</p>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Onsdag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Kl. 09.00 - 21.00
          </p>
          <p>Kjøkken kl. 10.30 - 20.30</p>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Torsdag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Kl. 09.00 - 21.00
          </p>
          <p>Kjøkken kl. 10.30 - 20.30</p>
        </div>
      </div>

    </div>

  
    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Fredag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Kl. 09.00 - 23.00
          </p>
          <p>Kjøkken kl. 10.30 - 22.00</p>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Lørdag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Kl. 09.00 - 23.00<br>
          </p>
          <p>Kjøkken kl. 10.30 - 22.00</p>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-4 text-center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Søndag</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
          Fra januar 2018<br>
           STENGT
        </div>
      </div>

    </div>
  </div>
  <p><strong>Reservasjoner for lunsj samme dag må gjøres før kl. 10.00</strong></p>
</div>