title = "Artikkel"
url = "/sistenytt/artikkel/:slug"
layout = "default"
hidden = "0"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "hovedside"
==
<section id="layout-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if post.featured_images.isEmpty() %}

        {% else %}
        <img src="{{ post.featured_images.0.path }}" class="img-responsive center-block thumbnail">
        {% endif %}
        <div class="page-header">
          <h1>{{ post.title }}</h1>
        </div>
        <p class="lead">{{ post.excerpt }}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      {{ post.content|raw }}
      <p class="published-details pull-right text-right"><small>Publisert {{ post.published_at|date("j.m.Y") }}</small>
        <br><br>
        <a href="/sistenytt"><- tilbake til siste nytt</a>
      </p>
    </div>
    </div>
  </div>

</section>
