title = "Bestill bord"
url = "/bestillbord"
layout = "default-2col-menu"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="container">
<div class="col-md-8">
    <iframe src="https://booking.egerco.no/api/reserve.php?propertyID=1" width="600" height="600" frameborder="0" allowtransparency="true"></iframe>
</div>
<div class="col-md-4">
    <div class="alert">
        <h4>
            Om bordbestilling
        </h4>
        <p>
            <strong>På dager med arrangement på Ringerike Kultursenter er nettbestilling ofte stengt, send oss en e-post til booking@egerco.no eller ring oss på 32 13 24 04 (2) så hjelper vi deg!</strong>
            <br><br>
            Ønsker du å booke bord til samme dag, men ser ingen ledige tidspunkt? Du kan booke inntil
            3 timer før ønsket tidspunkt, men vi anbefaler alltid at du ringer oss dersom du ønsker bord
            samme dag! Telefon 32 13 24 04 (2).
            <br><br>
            Hvis du opplever at en avdeling ikke går an å velge på spesifikke datoer er det
            fordi vi har stengt nettbestillingen denne dagen. Det kan fortsatt være mulig å booke
            bord, men vi tar imot din bestilling på mail booking@egerco.no for å ha mest mulig
            oversikt på bordplassering.
            <br><br>
            Det kan også være at vi har arrangement på huset som gjør at lunsj og/eller middag er stengt
            for bestilling på utvalgte dager. Annenhver fredag har vi eksempelvis quiz på kvelden.
            Ta kontakt med oss på e-post så hjelper vi deg.
        </p>
    </div>
</div>