title = "Hjelp til bestilling"
url = "/takeaway/hjelp"
layout = "default"
is_hidden = 0
==
<div class="container menu">
    <div class="row">
        
      {% partial 'meny_hjelp_nettbestilling' %}  
      
      <div class="col-md-10">
          <h1>Om tjenesten</h1>
          <p class="lead">Introtekst</p>
          <p>Normal tekst</p>
          <hr>
          
          <h1>Hvordan bestille?</h1>
          <p class="lead">Introtekst</p>
          <p>Normal tekst</p>
          <hr>
          
          <h1>Spørsmål &amp; svar</h1>
          <p class="lead">Introtekst</p>
          <p>Normal tekst</p>
          <hr>
          
          <h1>Henting &amp; betaling?</h1>
          <p class="lead">Introtekst</p>
          <p>Normal tekst</p>
          <hr>
          
          <h1>Betingelser</h1>
          <p class="lead">Introtekst</p>
          <p>Normal tekst</p>
          <hr>
          
          <h1>Personvern</h1>
          <p class="lead">Introtekst</p>
          <p>Normal tekst</p>
          <hr>
      </div>
      
    </div>
</div>