title = "Hovedside"
url = "/"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[carousel]
id = 2
==
<!-- Content -->
<section id="layout-content">
    {% component 'carousel' %}
</section>
<div class="newsitems">
	<div class="container">
    	<div class="row no-gutter">
	    	<div class="col-md-6">
	    		<img src="{{'assets/images/small-slides/kaffekampanje.jpg'|theme}}" class="img-responsive">
	    	</div>
	    	<div class="col-md-6">
    		    <img src="storage/app/media/selskapsmeny-anledning.jpg" class="img-responsive">
	    	</div>
		</div>
	</div>
</div>