title = "Jobb hos oss"
url = "/jobb"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="container openinghours">
    <div class="row">
        <div class="col-sm-12 text-center">
    
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Driftsansvarlig kaféen Kistefos-Museet sesongen 2018</h3>
            </div>
            <div class="panel-body">
              <p class="lead text-left">
                Vi søker en energisk og glad person som kan ta ansvar for drift av kafeen på Kistefos-Museet!
                </p>
                <p class="text-left">Vi tilbyr gode arbeidstidsordninger og god lønn til den som takler stressende situasjoner godt og liker å jobbe med mennesker. Du vil oppleve en variert sesong fra midten av mai til midten av oktober, og vil jobbe sammen med en glad gjeng gjennom sommeren. Ulike aktiviteter gjennom sesongen vil gjøre arbeidet både variert og spennende. Er du den vi søker? Ta kontakt med daglig leder på e-post stillingledig@egerco.no!
              </p>
              <p></p>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Servitør Eger & Co. </h3>
            </div>
            <div class="panel-body">
              <p class="lead text-left">
                Til vårt spiseri i Hønefoss søker vi servitører!
                </p>
                <p class="text-left">Vi søker servitører på hel/deltid for arbeid i vårt spiseri i Hønefoss sentrum. Vi tilbyr fleksible arbeidtidsordninger og konkurransedyktig lønn og du vil jobbe i et godt miljø med en gjeng glade mennesker. Arbeidstid er både dag og kveld, og kan tilpasses dersom du for eksempel har en annen jobb ved siden av. Fortrinnsvis søkere over 20 år, og gjerne med erfaring. Nysgjerrig? Ta kontakt med daglig leder på stillingledig@egerco.no for mer informasjon.
              </p>
              <p></p>
            </div>
          </div>
    
        </div>
    </div>
</div>