title = "Siste nytt"
url = "/sistenytt"
layout = "default"
hidden = "0"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = "10"
noPostsMessage = "Ingen artikler å vise"
sortOrder = "published_at desc"
categoryPage = "siste-nytt"
postPage = "artikkel"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = "0"
categoryPage = "siste-nytt"
==
<!-- Content -->
<section id="layout-content">
    <div class="jumbotron pullup">
      <div class="container">
        <h1>{{ this.page.title }}</h1>
        <p></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9 padmebottom">
          {% component 'blogPosts' %}
        </div>
        <div class="col-md-3 side">
          {% content 'side-blokk-1' %}
          <hr>
          {% content 'side-blokk-2' %}
          <hr>
          {% content 'side-blokk-3' %}
          <hr>
          {% content 'sistenytt-sidestoff.htm' %}
        </div>
      </div>
    </div>
</section>
