subject = "Ny ordre bekreftet med hentenummer {{ orderId }}"
==

<h2>Hei <strong>{{ name }}</strong></h2>

<p>En ny ordre er bekreftet i systemet.</p>
<h3>Ordre med hentenummer <strong>{{ orderId }} </strong> skal være klart til henting kl. {{ time }}</h3>
<p>Bestillingen er gjort av {{ phone }}.</p>
<p></p>
<p>
  Levert av <strong>HYNDLA</strong> fra Eger Studio
</p>
