description = "bekreftelse for e-post skjema"

[viewBag]
==
{% if result == true %}
<div class="row">
    <div class="container">
        <h4>Meldingen din er sendt, du sendes videre...</h4>
    </div>
</div>
{% endif %}