[viewBag]
==
<?php
use RainLab\Blog\Models\Post;

function onStart(){
    $this['posts'] = Post::isPublished()
                        ->orderBy('published_at', 'desc')
                        ->take(5)
                        ->with('categories')
                        ->get();
}
?>
==
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-brand text-center" style="background: url()  no-repeat;">
        <img src="{{ 'assets/images/footerlogo_cadj.png'|theme }}">
      </div>
      <div class="col-md-3 footer-bloglist">
        {% content 'fot-blokk-1' %}
      </div>
      <div class="col-md-3">
        {% content 'fot-blokk-2' %}
      </div>
      <div class="col-md-3">
        {% content 'fot-blokk-3' %}
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-md-6">
        &copy; 2015 Eger &amp; Co. AS
      </div>
      <div class="col-md-6 text-right">
        Produsert av <a href="http://www.egerstudio.no" target="_blank">Eger Studio</a>. Bestillingsløsning levert via <a href="http://www.hyndla.no" target="_blank">hyndla.no</a>
      </div>
  </div>
</footer>
