
    <div class="col-md-2 side">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Innhold</h3>
        </div>
        <div class="list-group sideMenu">
            <a href="#" class="list-group-item">Om tjenesten</a>
            <a href="#" class="list-group-item">Hvordan bestille?</a>
            <a href="#" class="list-group-item">Spørsmål &amp; svar</a>
            <a href="#" class="list-group-item">Henting &amp; betaling</a>
            <a href="#" class="list-group-item">Betingelser</a>
            <a href="#" class="list-group-item">Personvern</a>
        </div>
      </div>
    </div>