[viewBag]


[staticMenu]
code = "hovedmeny"
==
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navigasjon</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{{ 'assets/images/toplogo_cadj.png'|theme }}"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {% partial 'menu-items' items=staticMenu.menuItems class='nav navbar-nav navbar-right' %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
