<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('egerstudio/trymmerchant/customers') ?>"><?= e(trans('egerstudio.trymmerchant::lang.customer.customer')); ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('egerstudio/trymmerchant/customers') ?>" class="btn btn-default"><?= e(trans('egerstudio.trymmerchant::lang.customer.returnToList')); ?></a></p>

<?php endif ?>
