@import "variables";
@import "mixins";

html {
  font-family: $font-family-base;
  position: relative;
  min-height: 100%;
}


body {
    /* Margin bottom by footer height */
  margin-bottom: 400px;
  }



#layout-content {
  padding-top: 20px;
  padding-bottom: 120px;


}

h1, h2, h3 {
  font-weight: 400; 
}

.side h1, .side h2, .side h3 {
  font-family: $font-family-brand;
}

.side h2 { font-size: 1.8em;}

.side h2:first-of-type {margin-top:0px;}


.padmebottom {
  margin-bottom: 30px;
}

thead {
  font-weight: bold;
}


/* REMOVE GUTTER ON ROW
-------------------------------------------------- */

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}



/* NAVBAR STUFF
-------------------------------------------------- */


.navbar {
  font-family: $font-family-navbar;
  font-weight: $font-family-navbar-weight;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: -20px;
  font-size: $navbar-font-size;
}

.navbar-brand {
  padding-top: $navbar-brand-padding-top;
  margin-top:  $navbar-brand-margin-top;



}

//nudge the navbar text slightly down to align with logo
.navbar-nav li a {
  padding-top: $navbar-link-padding-top;
  padding-bottom: $navbar-link-padding-bottom;
}

// reset the styles for the dropdown items to avoid padding from upper level items
.dropdown-menu li a {
  padding: 3px 20px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  padding-top: -20px;
  margin-bottom: -120px;
  width: 100%;
  min-height: 500px;

    .item {
      height: 500px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0;
      margin-top: 100px;
      text-align: left;
      
      h1,.lead {
        
        margin: 0;
        line-height: 1.25;
        text-shadow: 0 0 20px rgba(255,255,255,.8);
        text-rendering: optimizeLegibility;
      }

      h1 {
        font-family: $carousel-head-font-family;
        font-weight: $carousel-head-font-weight;
        font-size: $carousel-head-size;
        text-transform: $carousel-head-text-transform;
        line-height: $carousel-head-line-height;

      }

      .lead {
        font-size: $carousel-lead-font-size;
      }

      .text-dark {
        color: #000;
      }

      .btn {
      margin-top: 10px;
    }

  }
}




/* CUSTOMIZE THE PAGE HEADER
-------------------------------------------------- */

.page-header-bg {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;

  h1 {
    font-family: $page-header-font-family;
    font-size: $page-header-font-size;
    font-weight: $page-header-font-weight;
    text-transform: $page-header-text-transform;
    padding: 100px 0 0 0;
  }
}

.chef {
background-size: cover;
}


/* CUSTOMIZE THE MAIN PAGE AND NEWS LISTINGS
-------------------------------------------------- */
.newsitems { // container -> row
  background: $background-newsitems-color;
  border-top: 1px solid darken($background-newsitems-color, 80%);

  img:first-of-type {
    border-left: 1px solid darken($background-newsitems-color,80%);
  }

  img {
    border-right: 1px solid darken($background-newsitems-color,80%);
    border-left: 0;
  }
}



/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

/*  base class */
.jumbotron {

}

.pullup{
  margin: -30px 0 0 0;
  background: white;
  padding: 60px 0 0 0;

  h1 {
    font-weight: 300;
    border-bottom: 1px solid $brand-primary;
    margin-bottom: 30px;
    font-size: 3.5em;

  }
}

.feature-image {

}

/* CUSTOMIZE OPENING HOURS
-------------------------------------------------- */
.openinghours {
  
  .panel-heading h3, p.lead, p {
    font-family: $font-family-brand;
  }

  .panel-heading {
    background: $brand-primary;
    color: lighten($brand-primary,80%);
    padding: 10px; margin: 0;
  
    h3 {
      margin: 0; padding: 0;
    }
  }

  p.lead {
    font-size: 1.3em;
  }

}

/* CUSTOMIZE THE ARTICLE
-------------------------------------------------- */

p.published-details {
  margin-top: 40px;
  border-top: 1px solid $gray-lighter;
  padding-top: 10px;
}


/* CUSTOMIZE THE category and blog list
-------------------------------------------------- */

ul.category-list {


  li {
  }

  li.a {
      }

}


ul.post-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    border-bottom: 1px solid $gray-lighter;
    padding: 0;
    margin: 0;
  }

  p.info {font-size: 0.8em; color: $gray;}

}




/* CUSTOMIZE THE sidebar
-------------------------------------------------- */
.sideMenu {

  a.active {
    background: lighten($brand-primary,20%);
    border: 1px solid lighten($brand-primary,20%);
  }
}



/* CUSTOMIZE THE menu panels
-------------------------------------------------- */

.menu {

  .panel-heading {
    font-size: $menu-heading-size;
    font-family: $font-family-brand;
    text-transform: uppercase;
    background: $brand-primary;
    color: white;
    padding: 7px 10px 5px 7px;

    span {
      text-transform: none;
      color: $gray-light;
      vertical-align: bottom;
    }

  }

  .orderline {
    font-family: $font-family-brand;
  }

  .menuitem {
    font-size: $menu-item-size;
    font-family: $font-family-brand;

    small {
      font-size: $menu-description-size;
      color: $gray-light;
      font-family: $menulist-description-font;
    }
    small.allergens {
        color: $menulist-allergens-color;
        clear: both;
      }
  }


  .price {
    text-align: right;
    font-family: $font-family-brand;
    font-size: $menu-item-size;
    color: $brand-primary;
  }

  .menuDetails {
    padding: 20px 10px 10px 10px;
    color: $brand-primary;
    background: $menu-details-background;
  }

}

div.spacemenicely {margin-top: 80px;}

.cart {
  .panel-heading {
    font-size: $sidebar-heading-size;
    background: $brand-primary;
    color: white;
    text-transform: uppercase;
  }
}

tr.orderline {
  font-family: $font-family-brand;
}


.basketPadding {
  padding: 0;

  li {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

}



/* CUSTOMIZE FORM STUFF
-------------------------------------------------- */

input[type=text], .txtarea{
margin-bottom: 10px;

 }

.push-in-left10 {
  margin-left: 10px;
}


table.table tr td.alignMeV {
  vertical-align: middle;

}

table.table tr td.alignMeV input.inputAlignMeV {
  margin-top: 10px;
}



/* FOOTER STUFF
-------------------------------------------------- */
footer {
  background: $gray-darker;
  color: $gray-lighter;
  padding: 0 0 20px 0;
  margin-top: -20px;
  min-height:200px;

  a, a:link, a:visited {
    color: white;
    }

  .container {
      .row {
        background: $gray-darker;
      }
      .footer-bottom{
        background: darken($gray-darker, 10%);
        padding: 20px 0 ;
        margin: 30px 0 0 0;
        font-size: 0.8em;
        clear: both;
      }
    }

  

  h2 {
    font-family: $font-family-brand;
    font-size: 1.4em;
    padding: 15px 0 7px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-light;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  ul li {
    padding: 4px 0;
    border-bottom: 1px dotted $gray-dark;

    a, a:link, a:visited {
      color: white;
      }

    }

  p {
    padding: 3px 0 10px 0;
    line-height: $line-height-base;
  }

  small {font-size: $font-size-small;}
  big {font-size: $font-size-large;}

}


  li.post-preview {
    font-size: 1.1em;
    font-weight: 600;
    list-style: none;

    .post-meta {
      clear: both;
      font-size: 0.7em;
      font-weight: 300;
    }

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 400px;
  }




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

@media (max-width: 768px) {



    .footer-brand {
      width: 100%;
      min-height: 200px;
    }

}

