<form class="form-inline" id="orderlines">
<table class="table ">
	<colgroup>
		<col class="col-xs-5">
		<col class="col-xs-1">
		<col class="col-xs-3">
		<col class="col-xs-2">
	</colgroup>
	{% if orderlines is empty %}
		<tr class="orderline">
			<td colspan="4">
				Ingen varer i handlekurven
			</td>
		</tr>
	{% endif %}

	{% if orderlines %}
		<thead>
		<tr class="orderline">
			<th>Vare</th>
			<th class="text-right" style="padding-right: 15px;">Pris</th>
			<th class="text-center">Antall</th>
			<th class="text-right">Totalt</th>
		</tr>
		</thead>
	{% endif %}

		<tbody>
		{% for orderline in orderlines %}
			<tr class="orderline">
				<td class="alignMeV">{{ orderline.product.name }}</td>
				<td class="alignMeV">
				{% if not disablePrice == 1 %}
					{{ orderline.product.price }}
				{% endif %}
				</td>
				<td class="alignMeV text-center">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default"
							data-request="onQuantitySubtract"
							data-request-data="productId:'{{orderline.product_id}}'"
							data-request-update="'{{__SELF__}}::cart_total':'#total','{{__SELF__}}::cart_orderlines':'#orderlines'">
							-
							</button>
						</div>
						<input type="text" class="form-control" style="text-align: center;" value="{{ orderline.quantity }}"
						data-track-input='1000'
						data-request="onQuantityChange"
						data-request-data="orderlineId:'{{orderline.id}}',productId:'{{orderline.product_id}}'"
						data-request-update="'{{__SELF__}}::cart_total':'#total','{{__SELF__}}::cart_orderlines':'#orderlines'"
						name="{{orderline.id}}">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default"
							data-request="onQuantityAdd"
							data-request-data="productId:'{{orderline.product_id}}'"
							data-request-update="'{{__SELF__}}::cart_total':'#total','{{__SELF__}}::cart_orderlines':'#orderlines'">
							+
							</button>
						</div>
					</div>
				</td>
				<td class="text-right alignMeV">
				{% if not disablePrice == 1 %}
					{{ (orderline.quantity * orderline.price)|number_format(2, '.', ',') }}
				{% endif %}
					<button style="margin-left: 10px;" class="close pull-right"
					data-request="onRemoveItem"
					data-request-data="orderlineId:'{{orderline.id}}'"
					data-request-update="'{{__SELF__}}::cart_total':'#total','{{__SELF__}}::cart_orderlines':'#orderlines'">
					&times;</button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
</table>
</form>
