{% if this.page.confirmationShow %}
<button class="btn btn-warning"
data-request="onEmptyBasket"
data-request-update="'{{__SELF__}}::cart_total':'#total','{{__SELF__}}::cart_orderlines':'#orderlines','{{__SELF__}}::cart_options':'#cartOptions'"
data-request-confirm="Er du sikker på at du vil tømme handlekurven?">
Tøm handlekurv</button>
{% endif %}

<button class="btn btn-info"
data-request="onContinueShopping"
>
Fortsett å handle</button>
