<table class="table" id="total">
	<tr style="border-top: 2px solid" class="orderline">
		<td>
		{% if not disablePrice == 1 %}
			Totalt kr. <span class="pull-right totalPrice"><strong>{{ ordertotal|number_format(2,'.',' ') }}</strong></span>
		{% endif %}
		</td>
	</tr>
</table>

