<div class="container menu">
  <div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default cart">
				<div class="panel-heading">
					<h3 class="panel-title">Dine varer</h3>
				</div>
				<div class="panel-body">
					{% partial __SELF__ ~ '::cart_orderlines' %}
					{% partial __SELF__ ~ '::cart_total'  %}
				</div>
				<div class="panel-footer" id="cartOptions">
					{% partial __SELF__ ~ '::cart_options'  %}
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<form id="verification" class="form-horizontal">
				{% if error %}
					<div class="alert alert-danger">
						{{ error }}
				  </div>
				{% endif %}

				<div class="panel panel-default cart">
					<div class="panel-heading">
						<h3 class="panel-title">Hentetid &amp; kommentar</h3>
					</div>
					<div class="panel-body">
						{% if pickUpTime %}
						<div class="form-group">
							<label class="col-sm-4 control-label">Velg hentetid</label>
							<div class="col-sm-8">
							  {% if pickUpTimeValues %}
								<select class="form-control" id="pickUpTime" name="pickUpTime">
									{%for time in pickUpTimeValues %}
									<option value="{{time}}">{{ time }}</option>
									{% endfor %}
								</select>
								{% endif %}
							</div>
						</div>
						{% endif %}
						<hr>

						<p>Hvis du har spesielle ønsker til noen av varene du bestiller, kan du fylle inn en kort melding her.</p>
						{% if confirmationShow %}
							<textarea class="form-control" name="comment" rows="4">{{ order.comment }}</textarea>
						{% else %}
							<textarea class="form-control" name="comment" rows="4" disabled>{{ order.comment }}</textarea>
						{% endif %}
						<br>
						{% if confirmationShow %}
							<button class="form-control btn btn-success" data-request="onOrderConfirmation">Videre til ordrebekreftelse</button>
						{% endif %}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
