{{ __SELF__.response }}
<p>Vi har sendt deg en kode på SMS du må fylle ut før vi kan bekrefte din ordre.</p>
<form data-request="" data-request-update="'{{__SELF__}}::verification_input': '#verification'">
  <div class="form-group">
    <label for="mobile">Bekreftelseskode: </label>
    <input type="tel" class="form-control" id="verCode" name="verCode" placeholder="Tast inn koden du har fått på SMS" autofocus>
  </div>
  <button type="submit" class="btn btn-success pull-right">Sjekk kode -></button>
</form>
