<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('egerstudio/trymmerchant/specialdays') ?>"><?= e(trans('egerstudio.trymmerchant::lang.breadcrumbs.specialday.breadcrumb')); ?></a></li>
        <li><?= e(trans('egerstudio.trymmerchant::lang.breadcrumbs.specialday.preview')); ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('egerstudio/trymmerchant/specialdays') ?>" class="btn btn-default"><?= e(trans('egerstudio.trymmerchant::lang.buttons.return')); ?></a></p>

<?php endif ?>