
<div id="carousel-{{ carousel.id }}" class="carousel slide" data-ride="carousel">
  {% if carousel.images|length > 1 %}
  <ol class="carousel-indicators">
  {% for i, image in carousel.images %}
    <li data-target="#carousel-{{ carousel.id }}" data-slide-to="{{ loop.index - 1 }}"{% if loop.first %} class="active"{% endif %}></li>
  {% endfor %}
  </ol>
  {% endif %}

  {% if carousel.images|length > 0 %}
  <div class="carousel-inner" role="listbox">
    {% for i, image in carousel.images %}
    <div class="item slider-size {% if loop.first %} active{% endif %}" style="background:url({{ image.path }}) center bottom; background-size: cover;">
      <div class="container">
        <div class="carousel-caption">
          {% if image.title %}<h1 class="text-dark">{{ image.title|raw }}</h1>{% endif %}
          {% if image.description %}<p class="lead text-dark">{{ image.description|raw }}</p>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if carousel.images|length > 1 %}
    <a class="left carousel-control" href="#carousel-{{ carousel.id }}" role="button" data-slide="prev">
      <span class="icon icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Forrige</span>
    </a>
    <a class="right carousel-control" href="#carousel-{{ carousel.id }}" role="button" data-slide="next">
      <span class="icon icon-next" aria-hidden="true"></span>
      <span class="sr-only">Neste</span>
    </a>
  {% endif %}
</div>
