@charset "UTF-8";
html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 400px; }

#layout-content {
  padding-top: 20px;
  padding-bottom: 120px; }

h1, h2, h3 {
  font-weight: 400; }

.side h1, .side h2, .side h3 {
  font-family: Courier, Georgia, Times, serif; }

.side h2 {
  font-size: 1.8em; }

.side h2:first-of-type {
  margin-top: 0px; }

.padmebottom {
  margin-bottom: 30px; }

thead {
  font-weight: bold; }

/* REMOVE GUTTER ON ROW
-------------------------------------------------- */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/* NAVBAR STUFF
-------------------------------------------------- */
.navbar {
  font-family: Courier, Helvetica, Arial, Sans-serif;
  font-weight: 400;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: -20px;
  font-size: 1.1em; }

.navbar-brand {
  padding-top: 0;
  margin-top: -10px; }

.navbar-nav li a {
  padding-top: 35px;
  padding-bottom: 15 px; }

.dropdown-menu li a {
  padding: 3px 20px; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
  padding-top: -20px;
  margin-bottom: -120px;
  width: 100%;
  min-height: 500px; }
  .carousel .item {
    height: 500px; }
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px; }
  .carousel .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0;
    margin-top: 100px;
    text-align: left; }
    .carousel .carousel-caption h1, .carousel .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
      text-rendering: optimizeLegibility; }
    .carousel .carousel-caption h1 {
      font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 80px;
      text-transform: uppercase;
      line-height: 80px; }
    .carousel .carousel-caption .lead {
      font-size: 24px; }
    .carousel .carousel-caption .text-dark {
      color: #000; }
    .carousel .carousel-caption .btn {
      margin-top: 10px; }

/* CUSTOMIZE THE PAGE HEADER
-------------------------------------------------- */
.page-header-bg {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px; }
  .page-header-bg h1 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 100px 0 0 0; }

.chef {
  background-size: cover; }

/* CUSTOMIZE THE MAIN PAGE AND NEWS LISTINGS
-------------------------------------------------- */
.newsitems {
  background: #DFE2DB;
  border-top: 1px solid #131411; }
  .newsitems img:first-of-type {
    border-left: 1px solid #131411; }
  .newsitems img {
    border-right: 1px solid #131411;
    border-left: 0; }

/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */
/*  base class */
.pullup {
  margin: -30px 0 0 0;
  background: white;
  padding: 60px 0 0 0; }
  .pullup h1 {
    font-weight: 300;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
    font-size: 3.5em; }

/* CUSTOMIZE OPENING HOURS
-------------------------------------------------- */
.openinghours .panel-heading h3, .openinghours p.lead, .openinghours p {
  font-family: Courier, Georgia, Times, serif; }
.openinghours .panel-heading {
  background: #333;
  color: white;
  padding: 10px;
  margin: 0; }
  .openinghours .panel-heading h3 {
    margin: 0;
    padding: 0; }
.openinghours p.lead {
  font-size: 1.3em; }

/* CUSTOMIZE THE ARTICLE
-------------------------------------------------- */
p.published-details {
  margin-top: 40px;
  border-top: 1px solid #eeeeee;
  padding-top: 10px; }

/* CUSTOMIZE THE category and blog list
-------------------------------------------------- */
ul.post-list {
  margin: 0;
  padding: 0; }
  ul.post-list li {
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    padding: 0;
    margin: 0; }
  ul.post-list p.info {
    font-size: 0.8em;
    color: #555555; }

/* CUSTOMIZE THE sidebar
-------------------------------------------------- */
.sideMenu a.active {
  background: #666666;
  border: 1px solid #666666; }

/* CUSTOMIZE THE menu panels
-------------------------------------------------- */
.menu .panel-heading {
  font-size: 1.4em;
  font-family: Courier, Georgia, Times, serif;
  text-transform: uppercase;
  background: #333;
  color: white;
  padding: 7px 10px 5px 7px; }
  .menu .panel-heading span {
    text-transform: none;
    color: #777777;
    vertical-align: bottom; }
.menu .orderline {
  font-family: Courier, Georgia, Times, serif; }
.menu .menuitem {
  font-size: 1.4em;
  font-family: Courier, Georgia, Times, serif; }
  .menu .menuitem small {
    font-size: 0.7em;
    color: #777777;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }
  .menu .menuitem small.allergens {
    color: #9E5757;
    clear: both; }
.menu .price {
  text-align: right;
  font-family: Courier, Georgia, Times, serif;
  font-size: 1.4em;
  color: #333; }
.menu .menuDetails {
  padding: 20px 10px 10px 10px;
  color: #333;
  background: #DFE2DB; }

div.spacemenicely {
  margin-top: 80px; }

.cart .panel-heading {
  font-size: 1.4em;
  background: #333;
  color: white;
  text-transform: uppercase; }

tr.orderline {
  font-family: Courier, Georgia, Times, serif; }

.basketPadding {
  padding: 0; }
  .basketPadding li {
    border-left: 0;
    border-right: 0;
    border-top: 0; }

/* CUSTOMIZE FORM STUFF
-------------------------------------------------- */
input[type=text], .txtarea {
  margin-bottom: 10px; }

.push-in-left10 {
  margin-left: 10px; }

table.table tr td.alignMeV {
  vertical-align: middle; }

table.table tr td.alignMeV input.inputAlignMeV {
  margin-top: 10px; }

/* FOOTER STUFF
-------------------------------------------------- */
footer {
  background: #222222;
  color: #eeeeee;
  padding: 0 0 20px 0;
  margin-top: -20px;
  min-height: 200px; }
  footer a, footer a:link, footer a:visited {
    color: white; }
  footer .container .row {
    background: #222222; }
  footer .container .footer-bottom {
    background: #090909;
    padding: 20px 0;
    margin: 30px 0 0 0;
    font-size: 0.8em;
    clear: both; }
  footer h2 {
    font-family: Courier, Georgia, Times, serif;
    font-size: 1.4em;
    padding: 15px 0 7px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #777777; }
  footer ul {
    padding: 0;
    list-style: none; }
  footer ul li {
    padding: 4px 0;
    border-bottom: 1px dotted #333333; }
    footer ul li a, footer ul li a:link, footer ul li a:visited {
      color: white; }
  footer p {
    padding: 3px 0 10px 0;
    line-height: 1.428571429; }
  footer small {
    font-size: 12px; }
  footer big {
    font-size: 18px; }

li.post-preview {
  font-size: 1.1em;
  font-weight: 600;
  list-style: none; }
  li.post-preview .post-meta {
    clear: both;
    font-size: 0.7em;
    font-weight: 300; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px; }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px; }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; } }
@media (max-width: 768px) {
  .footer-brand {
    width: 100%;
    min-height: 200px; } }
